        body{
            overflow: auto;
        }
        table, td{
        
            border-top: 1px solid #fff;
            padding: 1em 2.5em;
        }
        tr:nth-child(odd) {
            background: #eee;
          }
          form td input{
              width: 114%;
              text-align: center;
          }
         .box{
            background: #fff;
            margin: 10px;;
            border-radius: 5px;
            min-width: 20em;
            border: 1px solid #eee;
            box-shadow: 2px 2px #eee;
            padding: 0 3em 0 1em;
            
         }
         .box-title{
             color:cornflowerblue; 
         }
         .super-box-title{
             background: linear-gradient(90deg, rgba(94,139,131,1) 32%, rgba(92,111,156,1) 62%, rgba(38,86,123,1) 99%);
             padding: 1em;
             border-top-left-radius: 5px;
             border-top-right-radius: 5px;
             color: #fff;
             
    
         }
            .student_data{
                position: absolute;
                margin-left:20vw;
                margin-top:200px;
                background: white;
                border-radius: 10px;
                opacity: .85;
                /* transform: translate(35%, 50%); */
                /* padding: 20px;  */
                
            }
            .row{
                display: flex;
                padding: 0 2em;
                /* justify-content: ; */
                flex-wrap: wrap;
                flex-direction: row;      
                align-items: stretch; 
            }
            .student_data_print_btn{
                position: absolute;
                margin-top: 2vh;
                margin-left: 45%;
                background-color: dodgerblue;
                border-radius: 10px;
                padding: 0.5em 2em;
                border: none;
                cursor: pointer;
                color: white;
            }